img {
  max-width: 100%;
  height: auto;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
fieldset {
  margin: 0;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
.page {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
}
.page-body {
  margin: 0;
  background-color: #E5E5E5;
}
.page-body__container {
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.page-main {
  text-align: center;
}
.page-header {
  font-weight: 700;
  background-color: #283645;
}
.logo {
  display: inline-block;
}
.main-nav {
  width: 320px;
  height: 325px;
  left: 0px;
  top: 0px;
}
.main-nav__container {
  padding-left: 20px;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-right: 20px;
}
.main-nav__toggle {
  float: right;
  width: 50px;
  height: 24px;
}
.nav-list__item {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 1px 0px #000000, inset 1px 2px 1px rgba(255, 255, 255, 0.15);
}
.nav-list__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 32px;
}
.app {
  min-height: 396px;
  color: #FFFFFF;
  background-image: url('../img/app/back-mobile.jpg');
  background-color: #283645;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app__join {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 29px;
  padding-bottom: 34px;
}
.advantages {
  min-height: 752px;
  background-color: #F2F2F2;
}
.advantages__header {
  font-size: 24px;
  color: #283645;
  padding-top: 46px;
  padding-bottom: 70px;
  background-color: #FFFFFF;
}
.advantages__problem {
  padding-bottom: 22px;
  font-weight: 300;
  line-height: 28px;
}
.advantages__offer {
  font-weight: 300;
  line-height: 28px;
}
.advantages__subject {
  font-size: 18px;
  margin-top: 44px;
}
.advantages__description {
  margin-top: 24px;
}
.advantages__img {
  margin-top: 48px;
}
.comments {
  margin-top: 50px;
  margin-bottom: 60px;
}
.comments__author {
  font-size: 18px;
  margin-bottom: 30px;
}
.comments__text {
  margin: 0;
}
.slider__toggles {
  margin-top: 44px;
}
.contacts {
  margin-top: 50px;
}
.contacts__appeal {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 46px;
  font-weight: 300;
  color: #283645;
}
.contacts__data {
  margin-top: 32px;
}
.contacts__invitation {
  font-size: 18px;
  font-weight: 700;
}
.contacts__info {
  color: #D22856;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}
.contacts__map {
  min-height: 200px;
  background-image: url("../img/map.jpg");
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.start-use {
  color: #FFFFFF;
  background-image: url('../img/app/back-mobile.jpg');
  background-color: #283645;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.start-use__join {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}
.start-use__wrapper {
  padding-left: 46px;
  padding-top: 102px;
  padding-right: 46px;
  padding-bottom: 50px;
}
.gallery__comment {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  background-color: #F2F2F2;
}
.gallery__user-name {
  font-size: 14px;
  line-height: 24px;
}
.gallery__user-activity {
  font-size: 12px;
  font-weight: 300;
  color: #283645;
  text-transform: uppercase;
}
.gallery__user-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.gallery__heart {
  margin-top: 22px;
}
.gallery__wrapper {
  padding-left: 18px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 10px;
}
.post-photo {
  background-color: #F2F2F2;
  padding-bottom: 42px;
}
.filter__botton {
  font-weight: bold;
  line-height: 18px;
  color: #D22856;
  border: 3px solid #D22856;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 28px;
  margin-bottom: 6px;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blank__block {
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
}
.blank__text-field input {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-bottom: 18px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  width: 256px;
}
.blank__text-field input::-moz-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
.blank__text-field input::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
.blank__index {
  color: #D22856;
  font-size: 14px;
  padding-left: 22px;
  float: left;
  line-height: 30px;
  text-transform: uppercase;
}
.blank__tittle {
  color: #D22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}
.blank__item {
  padding-top: 44px;
  float: left;
  font-size: 18px;
  line-height: 30px;
}
.blank__button {
  width: 276px;
  height: 59px;
  color: #FFFFFF;
  background: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 2px;
  margin-top: 52px;
  margin-bottom: 46px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.blank__textarea {
  height: 197px;
  width: 276px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  resize: none;
  margin-top: 22px;
}
.blank__legend {
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 24px;
}
.blank__notice {
  color: #D22856;
}
.page-footer__wrapper {
  min-height: 284px;
  margin-left: 74px;
  margin-top: 40px;
  margin-right: 74px;
  margin-bottom: 50px;
}
.download-buttons__button {
  font-size: 18px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 28px;
  padding: 10px 32px 10px 32px;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
}
.download-buttons__description {
  padding-top: 30px;
  padding-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.use-text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 48px;
  margin-bottom: 48px;
}
.catalog {
  background-color: #F2F2F2;
}
.gray {
  background-color: #F2F2F2;
}
.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
