.advantages {
  min-height: 752px;
  background-color: @gray;
}
.advantages__header {
  font-size: 24px;
  color: @back;
  padding-top: 46px;
  padding-bottom: 70px;
  background-color: @white;
}

.advantages__problem {
  padding-bottom: 22px;
}

.advantages__offer {
}

.advantages__list {
}

.advantages__item {
}

.advantages__subject {
  font-size: 18px;
  margin-top: 44px;
}

.advantages__description {
  margin-top: 24px;
}

.advantages__img {
  margin-top: 48px;
}
