.start-use {
  min-height: 396px;
  color: @white;
  background-image: url('../img/app/back-mobile.jpg');
  background-color: @back;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.start-use__join {
  font-size: 24px;
  padding-top: 28px;
  padding-bottom: 34px;
}


.download-buttons {
}


.download-buttons__button {
  font-size: 18px;
  color: @white;
  border: 3px solid @white;
  border-radius: 28px;
  padding: 10px 38px 10px 38px;
  text-align: center;
}

.download-buttons__for-apple {
}

.download-buttons__for-android {
}

.download-buttons__for-windows {
}

.download-buttons__description {
  padding-top: 30px;
  padding-bottom: 18px;
}
