.app {
  min-height: 396px;
  color: @white;
  background-image: url('../img/app/back-mobile.jpg');
  background-color: @back;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app__join {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 29px;
  padding-bottom: 34px;
}
