.blank {
  /* line-height: 24px;*/
}

.blank__block {
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
}

.blank__text-field {
  /* line-height: 24px;*/
}

.blank__text-field input {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-bottom: 18px;
  border: 2px solid @light-gray;
  border-radius: 1px;
  width: 256px;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: @back;
  }
}

.blank__index {
  color: @pink;
  font-size: 14px;
  padding-left: 22px;
  float: left;
  line-height: 30px;
  text-transform: uppercase;
}

.blank__tittle {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.blank__item {
  padding-top: 44px;
  float: left;
  font-size: 18px;
  line-height: 30px;
}

.blank__checkbox {
  /* line-height: 24px;*/
}

.blank__point {
  /* line-height: 24px;*/
}

.blank__radio {
  /* line-height: 24px;*/
}

.blank__button {
  width: 276px;
  height: 59px;
  color: @white;
  background: @green;
  border: 2px solid @green;
  border-radius: 2px;
  margin-top: 52px;
  margin-bottom: 46px;
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.blank__textarea {
  height: 167px;
  width: 236px;
  border: 2px solid @light-gray;
  border-radius: 1px;
  resize: none;
  margin-top: 22px;
  font-size: 18px;
  font-family: @font;
  color: @back;
  line-height: 30px;
  padding: 20px 20px 20px 20px;
}

.blank__legend {
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 24px;
}

.blank__notice {
  color: @pink;
}
