.blank {
  /* line-height: 24px;*/
}

.blank__block {
  border: none;
  margin-top: 42px;
  margin-bottom: 42px;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 42px;

  @media (min-width: @tablet-width) {
    border: 2px solid @light-gray;
    border-radius: 1px;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.blank__section {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.blank__block-app {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 25%;
    position: absolute;
    margin: 0;
    top: 0;
    right: 132px;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 6px;
  }
}

.blank__block-achiev {
  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.blank__block-contact {
  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.blank__block-comment {
  margin-bottom: 0;
  padding-bottom: 0;
}

.blank__block-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.blank__block-name {
  border: none;
  padding-top: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 52%;
    position: relative;
  }
}

.blank__text-field {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    text-align: left;
  }
}

.blank__text-field-contact {
  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    width: 46%;
  }
}

.blank__text-field input {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-bottom: 18px;
  border: 2px solid @light-gray;
  border-radius: 1px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    margin-bottom: 48px;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: @back;
  }
}

.blank__text-field-contact input {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.blank__index {
  color: @pink;
  font-size: 14px;
  padding-left: 22px;
  float: left;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
    padding-bottom: 26px;
    padding-top: 14px;
  }
}

.blank__tittle {
  color: @pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.blank__tittle-contact {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.blank__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 38px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  flex-basis: 30%;
}

.blank__checkbox {
  margin: 0;
}

.blank__point {
  margin-left: 22px;
}

.blank__radio {
  /* line-height: 24px;*/
}

.blank__send {
  margin-top: 52px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 2px;
  }
}

.blank__button {
  width: 276px;
  height: 59px;
  color: @white;
  background: @green;
  border: 2px solid @green;
  border-radius: 2px;
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}


.blank__textarea {
  height: 166px;
  border: 2px solid @light-gray;
  border-radius: 1px;
  resize: none;
  font-size: 18px;
  font-family: @font;
  color: @back;
  line-height: 30px;
  padding: 20px 20px 20px 20px;

  @media (min-width: @tablet-width) {
    height: 146px;
    margin-bottom: 36px;
  }
}

.blank__legend {
  text-transform: uppercase;
  line-height: 24px;
}

.blank__notice {
  color: @pink;
}
