.contacts {
  margin-top: 50px;
}

.contacts__appeal {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 46px;
  font-weight: 300;
  color: @back;
  }

.contacts__data {
  margin-top: 32px;
  }

.contacts__invitation {
  font-size: 18px;
  font-weight: 700;
  }

.contacts__info {
  color: @pink;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  }

  .contacts__map {
    min-height: 200px;
    background-image: url("../img/map.jpg");
    background-color: @gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
  }
