.filter {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.filter__range {
  /* line-height: 24px;*/
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.filter__range-controler {
  /* line-height: 24px;*/
}

.filter__range-scale {
  /* line-height: 24px;*/
}

.filter__range-scale-bar {
  /* line-height: 24px;*/
}

.filter__toggle {
  /* line-height: 24px;*/
}

.filter__toggle-min {
  /* line-height: 24px;*/
}

.filter__toggle-max {
  /* line-height: 24px;*/
}

.filter__botton {
  font-weight: bold;
  line-height: 18px;
  width: 280px;
  font-size: 18px;
  color: @pink;
  border: 3px solid @pink;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 28px;
  height: 56px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 182px;
  }
}
