.nav-list {
  /* line-height: 24px;*/
}

.nav-list__item {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 1px 0 @black, inset 1px 2px 1px rgba(255, 255, 255, 0.15);
}

.nav-list__link {
  color: @white;
  font-size: 18px;
  line-height: 32px;
}

.nav-list__link-current {
  /* line-height: 24px;*/
}
